* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cairo", san-serif;
    color: #242424;
}

.header {
    background: #f8f9fa;
    padding: 10px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    width: 100px;
}

.nav-logo img {
    width: 100%;
}

.nav-links {
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    display: inline-block;
}

.nav-button {
    text-align: right;
}


.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    min-height: 80vh;
}

.header-text {
    flex: 1;
}

.header-text h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: bolder;
}

.header-text p {
    font-size: 13.19px;
    margin-bottom: 20px;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.btn-primary,
.btn-secondary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
}

.btn-primary::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #000000;
    width: 7em;
    height: 1.8em;
    top: 350px;
    left: 95px;
    z-index: -1;
}

.btn-icon {
    width: 15px;
}

.text-highlight {
    color: #2995E2;
}

.btn-no-border {
    border-width: 0;
}

.btn-secondary {
    background-color: transparent;
    color: #3f3f3f;
}

.header-image {
    flex: 1;
    text-align: right;
}

.header-image img {
    max-width: 100%;
    height: auto;
}



@media (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f8f9fa;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .nav-button {
        display: none;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-text h1 {
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .header-image {
        order: -1;
        text-align: center;
    }

    .header-buttons {
        justify-content: center;
    }

    .btn-primary::after {
        content: "";
        display: block;
        position: absolute;
        border: 1px solid #000000;
        width: 7em;
        height: 1.8em;
        top: 648px;
        left: 65px;
        z-index: -1;
    }
}




/* Auto layout 
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 18px;

width: 179px;
height: 36px;


/* Inside auto layout 
flex: none;
order: 1;
flex-grow: 0;


*/

